*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
	border: none;
	outline: none;
	user-select: none;
    overflow: hidden;
	background-color: #ffffff;
	height: 100%;
}
h1,h2,h3,h4,h5,h6,p,ul{
	margin: 0px;
	padding: 0px;
}
img{
	border: none;
}
a{
	text-decoration: none;
}
html{
	overflow-x: hidden;
}
.container{
	width:100%;
	max-width: 1170px;
	margin: 0 auto;
}
.top-nav{
	padding: 40px 90px;
	display: flex;
	justify-content: space-between;
	
}
.logo h4 a{
	
	font-family: 'Philosopher', sans-serif;
	font-size: 30px;
	cursor: pointer;
}
.logo h4 span a{
	color:#0652DD;
	font-size: 44px;
}
.menu ul {
	display: flex;
    
}
.menu ul li{
	list-style: none;
	margin-left: 30px;
   vertical-align: middle;
   color:#0652DD;

}
.menu ul li a{
	text-decoration: none;
	color:#0652DD;
}
.TSFBANK-inner{
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: space-between;
}
.TSFBANK-left{
	width: 50%;
	padding-top: 150px;
	padding-right:50px;

}
.TSFBANK-left h2{
	color:#0652DD;
}
.TSFBANK-left h6{
	color: #222f3e;
}

.TSFBANK-right{
	width: 50%;
}
.features{
	padding-top:90px;
	background-color:#0652DD;
}
.features-inner{
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
.features-inner-one i{
	font-size: 48px;
	padding-bottom: 30px;
}
.features-inner-one{
	text-align: center;
	width: 30%;
}
.profile-inner{
	padding-top: 150px;
	padding-bottom: 100px;

}
.profile-inner h3{
	text-align: center;
	font-family: 'Arvo', serif;
}
.profile-inner h3 span{
	color: #0652DD;
}
.footer{
	background-color:#0652DD;
}
.footer-inner{
	padding: 30px;
}
.footer-inner p{
	text-align: center;
	color:#ffffff;
}
.Customers-table h1{
	text-align: center;
	color: #0652DD;
	font-family: 'Oswald', sans-serif;
	padding: 50px;
	cursor: pointer;
	border-bottom: 1px  solid transparent;
}
.Customers-table h1:hover{
    border-bottom: 1 px solid #0652DD;
}
.Customers-table{
	padding:20px 30px;
}
.Customers-table-inner{
	padding-bottom: 30px;
}
.row1{
	background-color: #0652DD;
	color:#ffffff;
}
.d1{
	background-color: #0652DD;
	color:#ffffff;
}
.view-link{
	margin-left:10px;
	color:yellow;
}
.view-link:hover{
	color:#ffffff;
}

.customer-information-inner{
	padding-left:300px;
}
.card-body{
	background-color: #0652DD;
	color:#ffffff;
}
.welcoming h2{

}
.welcoming{
	font-family: 'Pacifico', cursive;
	color:#0652DD;
}
.customer-information{
	padding-bottom: 80px;
}
.card-body{
	text-align: center;
}
.form-inner{
	width: 75%;
	background-color: #95afc0;
	color:#ffffff;
	padding: 50px;
	margin:0 auto;
	border-radius: 40px;
	box-shadow: -6px 2px 11px -1px rgba(0,0,0,0.87);
}